body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(35, 167, 203);

  color: #333;
}

/* .nav {
  background: #222;
  padding: 15px;
  display: flex;
  gap: 20px;
} */

.nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav a.active {
  text-decoration: underline;
}

.hero {
  padding: 60px 20px;
  background: #4a76a8;
  color: white;
  text-align: center;
}

.content {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
  background-color: rgb(35, 167, 203);
}
.comanda {
  text-align: center;
}

.comanda1 {
  width: 600px;
  height: 300px;
}
/* footer {
  background: #222;
  color: rgb(0, 0, 0);
  padding: 15px 0;
  background-image: linear-gradient(to right, lightgreen, white, gold);
} */
